version: '3.8'

services:
  auth-service-common:
    build:
      context: ./auth-service-common
      dockerfile: Dockerfile
    container_name: auth-service-common
    ports:
      - "8081:8081"
    environment:
      SPRING_DATASOURCE_BUFFER_URL: jdbc:postgresql://postgres:5432/test_db
    networks:
      - app-network
    deploy:
      resources:
        limits:
          cpus: '1.0'
          memory: 4G

  # auth-service-reactive:
  #   build:
  #     context: ./auth-service-reactive
  #     dockerfile: Dockerfile
  #   container_name: auth-service-reactive
  #   ports:
  #     - "8082:8082"
  #   environment:
  #     SPRING_DATASOURCE_BUFFER_URL: jdbc:postgresql://postgres:5432/test_db
  #   networks:
  #     - app-network
  #   deploy:
  #     resources:
  #       limits:
  #         cpus: '1.0'
  #         memory: 4G

  postgres:
    image: postgres:15
    container_name: postgres
    restart: unless-stopped
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./db/scheme-init.sql:/docker-entrypoint-initdb.d/01-scheme-init.sql
      - ./db/core-init.sql:/docker-entrypoint-initdb.d/02-core-init.sql
      - ./db/token-init.sql:/docker-entrypoint-initdb.d/03-token-init.sql
      - ./db/transaction-init.sql:/docker-entrypoint-initdb.d/04-transaction-init.sql
      - ./db/connection-init.sql:/docker-entrypoint-initdb.d/05-connection-init.sql
    environment:
      POSTGRES_PASSWORD: test_password
      POSTGRES_USER: test_user
      POSTGRES_DB: test_db
      POSTGRES_MAX_CONNECTIONS: "500"  # Добавьте эту строку
    ports:
      - "5433:5432"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  postgres_data:
